*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;}
body{
    background-color: whitesmoke;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100vw;
    z-index: 200;
    background-color: whitesmoke;
}
#menu{
    width: 20px;
    margin:25px;
}
#logo{
    transform: translate(-50%,-85%);
    margin-left: 10px;
    width: 30px;
}
.right-nav{
    position: absolute;
    top: 25px;
    right: 30px;
}
.right-nav img{
    width: 25px;
    margin-left: 16px;
}
.nav-links{
    text-align: center;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.nav-links a{
    color: black;
    text-decoration: none;
    margin-left: 25px;
    padding: 5px;
}
.nav-links a:hover{
    border-bottom: 2px solid rgb(209, 27, 27);
}
.offer{
    margin: 10px;
    margin-top:80px;
    position: relative;
    background-color: rgb(209, 27, 27);
    height: 20vh;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.offer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 1.5em;
    font-weight: 600;
}
.offer img{
    width: 20px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%,-50%);
}
.box1{
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
}
#b1{
    width: 99%;
}
#item-name{
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(209, 27, 27);
}
#item-name-1{
    color: grey;
    font-weight: 600;
}
button{
    padding: 10px;
    margin: 7px;
    background-color: rgb(209, 27, 27);
    border: none;
    color: white;
    font-weight: 600;
}
.trending{
    margin: 10px;
    margin-top: 40px;
    text-align: center;
}
.trending li{
    text-decoration: none;
    text-align: left;
    border-bottom: 2px solid rgb(209, 27, 27);
}
#txt1{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}
.th{
    font-size: 1.4em;
    font-weight: 600;
    text-align: left;
}
ul{
    list-style-type: none;
}
li{
    margin-top: 7px;
}
.men , .women{
    display: inline-block;
    margin: 10px;
}
.basics{
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}
#bp{
    width: 98vw;
}
.home{
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}
#ip{
    width: 98vw;
}

.shipping{
    position: relative;
    margin: 10px;
    margin-top: 20px;
    background-color: rgb(209, 27, 27);
    height: 20vh;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.shipping p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 1.1em;
    width: 90%;
    font-weight: 600;
}
.shipping a{
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
}


footer{
    margin-top: 30px;
    background-color: rgba(209, 209, 209, 0.795);
    width: 100%;
    text-align: center;
    padding: 30px;
}
footer a img{
    margin: 15px;
}
#logo-lrg{
    width: 10em;
    margin: 20px;
}
footer p{
    margin-bottom: 20px;
}
.dropdown{
    position: relative;
    display: inline-block;
    padding: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0vh;
    left: 0vw;
    background-color: white;
    min-width: 50vw;
    min-height: 100vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 5;
    padding: 20px;
  }
  li{
    text-align: center;
    padding: 10px;
  }
  .dropdown-content a{
      color: rgb(209, 27, 27);
      font-weight: 600;
      text-decoration: none;
  }
  .dropdown-content a:hover{
      letter-spacing: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .img-lng{
      overflow: hidden;
      min-height: 60vh;
      text-align: center;
      position: relative;
  }


@media screen and (min-width: 600px) {
    .container{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #ip{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (min-width: 768px) {
    .container{
        margin-left: 20vw;
        margin-right: 20vw;
    }
    #bp{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #ip{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (min-width: 1200px) 
{
    .dropdown{
        display: none;
    }
    .nav-links{
        display: block;
    }
    #logo{
        display: block;
        position: absolute;
        top: 60%;
        left: 2%;
        width: 40px;
    }
    .container{
        margin-left: 27%;
        margin-right: 27%;
    }
    .basics, .home{
        position: relative;
    }
    #bp{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #ip{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (min-width: 1500px) {
    #bp{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-45%);
    }
    #ip{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}